//2016 colors
$c1: #7AC254; // green
$c2: #DD443C; //red
$c3: #FBE338; //yellow
$c4: #9794A5; //blue-grey
$c5: #91A8D1; //dirty-blue
$c6: #0D4D8B; //blue
$c7: #9DD9E1; //light-blue
$c8: #F9CBCD; //pink-grey
$c9: #F3796E; //pink
//2017 colors
$c10: #3E5A25; //dark-green
$c11: #3C3C3C; //dark-metalic
$c12: #CB0504; //dark-red
$c13: #C1C1C3; //light-metalic
$c14: #282F39; //dark-metalic-blue
$c15: #EEEEEC; //dirty-white
$c16: #bf5138; // Mojo
$c17: #0f594d; // Eden
$c18: #93a748; // Sushi
$c19: #f2e6cd; // Janna
$c21: #db9537; // Brandy Punch

//organic colors
$c25: #FF8B8C; // org pink
$c26: #FEBA8B; // org pink-grey
$c27: #F8FF8D; // org yellow
$c28: #AEFE8B; // org green
$c29: #8CC7FF; // org blue
// fonts
$pr-font: 'Open Sans',
sans-serif;
$sec-font: 'Merriweather',
serif;
