// colors
$c1: #0f594d; // Eden
$c2: #93a748; // Sushi
$c3: #f2e6cd; // Janna
$c4: #db9537; // Brandy Punch
$c5: #bf5138; // Mojo
// fonts
$pr-font: 'Open Sans',
sans-serif;
$sec-font: 'Merriweather',
serif;
